body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.embed {
  width: 560px; /* you have to have a size or this method doesn't work */
   height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

   position: absolute; /* positions out of the flow, but according to the nearest parent */
   top: 0; right: 0; /* confuse it i guess */
   bottom: 0; left: 0;
   margin: auto; /* make em equal */
}

p {
  text-align: center;
}

.title {
  text-align: center;
  border: 3px solid blue;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* mouse over link */
button:hover {
  color: yellow;
}

/* selected link */
button:active {
  color: blue;
}

.link {
  text-align: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
